extends layout

block content
    label(for="e-mail") メールアドレス
    input(type="email", name="" id='e-mail')
    label(for="password") パスワード
    input(type="password", name="" id='password')
    a(href="/auth/google") サインイン